parameters:
	paths:
		- config
		- resources
		- src
		- tests
	level: 5
	excludePaths:
		- resources/php/*
	reportUnmatchedIgnoredErrors: false
	treatPhpDocTypesAsCertain: false
includes:
    - phpstan-baseline.neon
