parameters:
	ignoreErrors:
		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Block.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/EditorPhp.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Parser.php

		-
			message: '#^Anonymous function should return Pest\\Mixins\\Expectation\<Hotrush\\EditorPhp\\Blocks\\Paragraph\|null\> but returns Pest\\Mixins\\Expectation\<Hotrush\\EditorPhp\\Blocks\\Paragraph\|null\>\.$#'
			identifier: return.type
			count: 1
			path: tests/BlockTest.php

		-
			message: '#^Anonymous function should return Pest\\Mixins\\Expectation\<array\<string, array\|string\>\|null\> but returns Pest\\Mixins\\Expectation\<array\<string, array\|string\>\|null\>\.$#'
			identifier: return.type
			count: 1
			path: tests/BlockTest.php

		-
			message: '#^Anonymous function should return Pest\\Mixins\\Expectation\<bool\|null\> but returns Pest\\Mixins\\Expectation\<bool\|null\>\.$#'
			identifier: return.type
			count: 2
			path: tests/BlockTest.php

		-
			message: '#^Anonymous function should return Pest\\Mixins\\Expectation\<string\|null\> but returns Pest\\Mixins\\Expectation\<string\|null\>\.$#'
			identifier: return.type
			count: 3
			path: tests/BlockTest.php

		-
			message: '#^Access to an undefined property Hotrush\\EditorPhp\\EditorPhp\:\:\$baz\.$#'
			identifier: property.notFound
			count: 1
			path: tests/EditorPhpTest.php

		-
			message: '#^Anonymous function should return Pest\\Mixins\\Expectation\<Hotrush\\EditorPhp\\EditorPhp\|null\> but returns Pest\\Mixins\\Expectation\<Hotrush\\EditorPhp\\EditorPhp\|null\>\.$#'
			identifier: return.type
			count: 4
			path: tests/EditorPhpTest.php

		-
			message: '#^Anonymous function should return Pest\\Mixins\\Expectation\<Hotrush\\EditorPhp\\EditorPhp\|string\|null\> but returns Pest\\Mixins\\Expectation\<Hotrush\\EditorPhp\\EditorPhp\|string\|null\>\.$#'
			identifier: return.type
			count: 2
			path: tests/EditorPhpTest.php

		-
			message: '#^Anonymous function should return Pest\\Mixins\\Expectation\<array\<string, array\|int\|string\>\|null\> but returns Pest\\Mixins\\Expectation\<array\<string, array\|int\|string\>\|null\>\.$#'
			identifier: return.type
			count: 1
			path: tests/EditorPhpTest.php

		-
			message: '#^Anonymous function should return Pest\\Mixins\\Expectation\<string\|null\> but returns Pest\\Mixins\\Expectation\<string\|null\>\.$#'
			identifier: return.type
			count: 4
			path: tests/EditorPhpTest.php

		-
			message: '#^Call to an undefined method Hotrush\\EditorPhp\\EditorPhp\:\:getParagraphs\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/EditorPhpTest.php

		-
			message: '#^Anonymous function should return Pest\\Mixins\\Expectation\<int\|null\> but returns Pest\\Mixins\\Expectation\<int\|null\>\.$#'
			identifier: return.type
			count: 1
			path: tests/Laravel/Console/BlockMakeCommandTest.php

		-
			message: '#^Parameter \#1 \$context of function Orchestra\\Testbench\\artisan expects Illuminate\\Contracts\\Foundation\\Application\|Orchestra\\Testbench\\Contracts\\TestCase, PHPUnit\\Framework\\TestCase given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Laravel/Console/BlockMakeCommandTest.php

		-
			message: '#^Anonymous function should return Pest\\Mixins\\Expectation\<string\|null\> but returns Pest\\Mixins\\Expectation\<string\|null\>\.$#'
			identifier: return.type
			count: 1
			path: tests/Laravel/EditorPhpTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Laravel/EditorPhpTest.php

		-
			message: '#^Anonymous function should return Pest\\Mixins\\Expectation\<Hotrush\\EditorPhp\\Parser\|null\> but returns Pest\\Mixins\\Expectation\<Hotrush\\EditorPhp\\Parser\|null\>\.$#'
			identifier: return.type
			count: 2
			path: tests/ParserTest.php

		-
			message: '#^Anonymous function should return Pest\\Mixins\\Expectation\<Illuminate\\Support\\Collection\|null\> but returns Pest\\Mixins\\Expectation\<Illuminate\\Support\\Collection\|null\>\.$#'
			identifier: return.type
			count: 1
			path: tests/ParserTest.php

		-
			message: '#^Anonymous function should return Pest\\Mixins\\Expectation\<string\|null\> but returns Pest\\Mixins\\Expectation\<string\|null\>\.$#'
			identifier: return.type
			count: 1
			path: tests/ParserTest.php

		-
			message: '#^Call to an undefined method Pest\\Mixins\\Expectation\<Carbon\\Carbon\|null\>\:\:equalTo\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/ParserTest.php
